<div class="form-container">
  <mat-card class="form-card">
    <form [formGroup]="loginForm">
      <mat-form-field appearance="fill" class="email-input">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
          #email
        />
      </mat-form-field>

      <div class="buttons-container">
        <button
          mat-raised-button
          color="primary"
          [disabled]="loginForm.invalid"
          (click)="logIn(email.value)"
        >
          Ingresar
        </button>
        <button routerLink="/auth/register" mat-raised-button color="warn">
          Registrarse
        </button>
      </div>
    </form>
  </mat-card>
</div>
