<form [formGroup]="loginForm" (submit)="logIn()">
  <div class="example-container">
    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>
    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" [disabled]="loginForm.invalid">
    Ingresar
  </button>
  <button routerLink="/auth/register" mat-raised-button color="warn">
    Registrarse
  </button>
</form>

<pre>
    {{ loginForm.value | json }}
</pre>
