.table-container {
    padding: 20px;
}

table {
    width: 100%;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.form-new-post {

    display: flex;
    flex-direction: column;
    width: 300px;
}

.author-img {
    width: 20px;
    height: 20px;
}