<div class="profile-container">
  <div class="form-container">
    <form [formGroup]="registerForm">
      <div class="example-container">
        <!-- UserName -->
        <mat-form-field appearance="fill" class="field">
          <mat-label>UserName</mat-label>
          <input formControlName="username" matInput />
        </mat-form-field>
        <!-- Img Profile -->
        <mat-form-field appearance="fill" class="field">
          <mat-label>URL image</mat-label>
          <input formControlName="imgProfile" matInput />
        </mat-form-field>
      </div>

      <div class="btn-container">
        <button mat-raised-button color="primary" (click)="updateUserInfo()">
          <!-- [disabled]="registerForm.invalid || registerForm.pending" -->
          Actualizar
        </button>
        <button mat-raised-button color="accent" routerLink="/auth/login">
          Volver
        </button>
      </div>
    </form>
  </div>
  <div class="user-info">
    <img [src]="userInfo.img" alt="" class="profile-picture" />
    <span>Nombre: {{ userInfo.name }}</span>
    <span>Email: {{ userInfo.email }}</span>
    <span>Rol: {{ userInfo.rol }}</span>
    <span>Username: {{ userInfo.username }}</span>
    <span>Posts: </span>
  </div>
</div>
