.profile-container {
    display: flex;
    padding: 10px;
}

.form-container {
    width: 500px;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

.form-card {
    width: 300px;
}

.field {
    width: 100%;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.profile-picture {
    width: 100px;
    height: 100px;
}