<form [formGroup]="newComment" (submit)="addComment()">
  <div class="example-container">
    <!-- PostId -->
    <mat-form-field appearance="fill">
      <mat-label>postid</mat-label>
      <input formControlName="postId" matInput />
    </mat-form-field>
    <!-- Name -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
    <!-- body -->
    <mat-form-field appearance="fill">
      <mat-label>Comment</mat-label>
      <textarea formControlName="body" matInput></textarea>
    </mat-form-field>
  </div>
  <button [disabled]="newComment.invalid" mat-raised-button color="primary">
    Add
  </button>
</form>
<!-- [disabled]="newComment.invalid || newComment.pending" -->

<pre>{{ newComment.value | json }}</pre>
