<div class="form-container">
  <mat-card class="form-card">
    <h3>{{ action }} Comment</h3>
    <form [formGroup]="newComment" (submit)="addComment()">
      <div class="example-container">
        <!-- PostId -->
        <mat-form-field class="input" appearance="fill">
          <mat-label>Post Id</mat-label>
          <input formControlName="postId" matInput />
        </mat-form-field>
        <!-- Name -->
        <mat-form-field class="input" appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <!-- Email -->
        <mat-form-field class="input" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <!-- body -->
        <mat-form-field class="input" appearance="fill">
          <mat-label>Comment</mat-label>
          <textarea formControlName="body" matInput></textarea>
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button
          [disabled]="newComment.invalid"
          mat-raised-button
          color="primary"
        >
          {{ action }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
